<div class="database-sidebar ">
    <header>
        <ul>
            <li class="shrink-function eo-button-default" data-ng-class="{'border-bottom-none':databaseSidebarCtrl.search.isSpread||!isShrink}" data-ng-click="isShrink=!isShrink">
                <span class="iconfont icon-more"></span>
            </li>
        </ul>
    </header>
    <article>
        <ul>
            <li class="title">
                <span class="pull-left">表</span>
                <span class="pull-right">
                    <a data-ng-click="databaseSidebarCtrl.edit(false)">
                    <span class="iconfont icon-add" ></span>添加</a>
                </span>
            </li>
        </ul>
        <ul class="group-ul">
            <li class="group-li" data-ng-repeat='query in databaseSidebarCtrl.query' ng-class="{'elem-active':query.isClick}" data-ng-click="databaseSidebarCtrl.click(query.tableID,query)">
                <span class="group-name">{{query.tableName}}</span>
                <span class="active " >
                <a class="iconfont icon-list" data-ng-click="query.listIsClick=true" data-ng-mouseleave="query.listIsClick=false">
                    <ul class="sidebar-function" data-ng-class="{'hidden':!query.listIsClick,'first-sidebar-function':$first}">
                    <li data-ng-click="databaseSidebarCtrl.edit(query)">修改</li>
                    <li data-ng-click="databaseSidebarCtrl.delete(query.tableID,$index)">删除</li>
                </ul>
                </a>
                
            </span>
            </li>
        </ul>
    </article>
    <footer></footer>
</div>
