<div class="register-content ">
    <header>
        <p>
            <label>注册</label>eolinker开源版本的用户系统独立于线上版本，</p>
        <p>
            <label>register</label>因此无法用于线上登录。</p>
    </header>
    <article>
        <form name="registerForm">
            <ul>
                <li>
                    <label>用户名</label>
                    <input class="eo-input" name="username" data-ng-model="registerContentCtrl.info.userName" type="text" placeholder="请输入用户名" ng-pattern="/^[a-zA-Z][a-zA-Z0-9_]{3,64}$/" uib-popover="{{registerContentCtrl.alert.user}}" popover-trigger="focus" popover-placement="right" ng-class="{'eo-input-error':registerForm.username.$invalid&&(registerForm.username.$dirty||registerContentCtrl.template.submited)||registerContentCtrl.unavailable}" data-ng-change="registerContentCtrl.textChange()" maxlength="64" required />
                </li>
                <li>
                    <label>密码</label>
                    <input class="eo-input" name="password" type="text" ng-if="registerContentCtrl.eye"  data-ng-model="registerContentCtrl.template.password" placeholder="密码" ng-pattern="/^[\x21-\x7E]{6,32}$/" uib-popover="6~32位，可使用英文、数字、半角符号" popover-placement="right" popover-trigger="focus" ng-class="{'eo-input-error':registerForm.password.$invalid&&(registerForm.password.$dirty||registerContentCtrl.template.submited)}" required maxlength="32" />
                    <input class="eo-input" name="password" type="password" ng-if="!registerContentCtrl.eye"  data-ng-model="registerContentCtrl.template.password" placeholder="密码" ng-pattern="/^[\x21-\x7E]{6,32}$/" uib-popover="6~32位，可使用英文、数字、半角符号" popover-placement="right" popover-trigger="focus" ng-class="{'eo-input-error':registerForm.password.$invalid&&(registerForm.password.$dirty||registerContentCtrl.template.submited)}" required maxlength="32" />
                    <span class="icon-style"><a class="iconfont" data-ng-class="{'icon-attention':registerContentCtrl.eye,'icon-attentionfill':!registerContentCtrl.eye}" data-ng-click="registerContentCtrl.changeView()" ></a></span>
                </li>
                <li>
                    <label></label>
                    <button ng-class="{'eo-button-success':registerForm.$valid,'eo-button-default':registerForm.$invalid}" data-ng-click="registerContentCtrl.register()">注册</button>
                </li>
                <li>
                    注册即默认阅读并同意<a class="eo-link" ui-sref="register.protocol" target="view_window">《服务协议》</a>和<a class="eo-link" ui-sref="register.protocol" target="view_window">《隐私权协议》</a>
                </li>
            </ul>
        </form>
    </article>
    <footer>已有帐号？<a ui-sref="index" class="eo-link">点击登陆</a></footer>
    <eo-footer></eo-footer>
</div>
